<footer class="footer">
    <div class="footer-inner">
        <a href="index.html" class="footer__logo">
            <img src="../img/pic/logo.png" alt="logo">
        </a>

        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__li">
                    <a href="index.html" class="footer__link">Ресторанам</a>
                </li>
                <li class="footer__li">
                    <a href="index.html" class="footer__link">Курьерам</a>
                </li>
                <li class="footer__li">
                    <a href="index.html" class="footer__link">Пресс-центр</a>
                </li>
                <li class="footer__li">
                    <a href="index.html" class="footer__link">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
    <ul class="footer__social">
        <li class="footer__img"><a href="instagram.com" class="footer__instagram">
                <img src="./img/icon/inst.svg" alt="instagram">
            </a></li>
        <li class="footer__img"><a href="facebook.com" class="footer__facebook">
                <img src="./img/icon/facebook.svg" alt="facebook">
            </a></li>
        <li class="footer__img"><a href="vk.com" class="footer__vk">
                <img src="./img/icon/Group 3.svg" alt="vk">
            </a></li>
    </ul>

</footer>