<header class="header">
    
        <div class="header__inner">
            <div class="header__logo">
                <a href="index.html">
                    <img src="./img/pic/logo.png" alt="logo">
                </a>
            </div>
            <input type="text" name="delivery-adress" class="header__search input" id="delivery-adress"
                placeholder="Адресс доставки">
            </form>

            <div class="button-wrapper">
                <button class="header__button-in button">
                    Войти
                </button>
                <button class="header__button-cart button js-button-cart">
                    Корзина
                </button>
            </div>
        </div>
  

</header>