<main class="main">
    <section class="promo">
        <div class="promo__text">
            <h1 class="promo__title">
                Онлайн-сервис <br> доставки еды на дом
            </h1>
            <p class="promo__desc">
                Блюда из любимого ресторана привезет курьер в перчатках, маске и с антисептиком
            </p>
        </div>
    </section>
    <section class="restoraunts">
        <div class="restoraunts__top">
            <h2 class="restoraunts__title title">
                Рестораны
            </h2>
            <input class="restoraunts__search input" type="text" name="restoraunts__search"
                placeholder="Поиск блюд и ресторанов">
            </input>
        </div>
        <div class="cards-wrapper">
            <a class="item-card" href="">
                <img src="./img/pic/Pizza+.png" alt="food" class="item-card__img">
                <div class="item-card__desc">
                    <div class="item-card__desc-row1">
                        <h3 class="item-card__title">Пицца плюс</h3>
                        <span class="item-card__time">50 мин</span>
                    </div>
                    <div class="item-card__desc-row2">
                        <span class="item-card__star-rating"><img src="./img/icon/star.svg"
                                class="item-card__star-icon">4.5</span>
                        <span class="item-card__priece">От 900 ₽</span>
                        <span class="item-card__product">Пицца</span>
                    </div>
                </div>

            </a>

            <a class="item-card" href="">
                <img src="./img/pic/tanuki.png" alt="food" class="item-card__img">
                <div class="item-card__desc">
                    <div class="item-card__desc-row1">
                        <h3 class="item-card__title">Тануки</h3>
                        <span class="item-card__time">50 мин</span>
                    </div>
                    <div class="item-card__desc-row2">
                        <span class="item-card__star-rating"><img src="./img/icon/star.svg"
                                class="item-card__star-icon">4.5</span>
                        <span class="item-card__priece">От 900 ₽</span>
                        <span class="item-card__product">Пицца</span>
                    </div>
                </div>

            </a>

            <a class="item-card" href="">
                <img src="./img/pic/food-band.png" alt="food" class="item-card__img">
                <div class="item-card__desc">
                    <div class="item-card__desc-row1">
                        <h3 class="item-card__title">FoodBand</h3>
                        <span class="item-card__time">50 мин</span>
                    </div>
                    <div class="item-card__desc-row2">
                        <span class="item-card__star-rating"><img src="./img/icon/star.svg"
                                class="item-card__star-icon">4.5</span>
                        <span class="item-card__priece">От 900 ₽</span>
                        <span class="item-card__product">Пицца</span>
                    </div>
                </div>

            </a>

            <a class="item-card" href="">
                <img src="./img/pic/jadina-pizza.png" alt="food" class="item-card__img">
                <div class="item-card__desc">
                    <div class="item-card__desc-row1">
                        <h3 class="item-card__title">Жадина-Пицца</h3>
                        <span class="item-card__time">50 мин</span>
                    </div>
                    <div class="item-card__desc-row2">
                        <span class="item-card__star-rating"><img src="./img/icon/star.svg"
                                class="item-card__star-icon">4.5</span>
                        <span class="item-card__priece">От 900 ₽</span>
                        <span class="item-card__product">Пицца</span>
                    </div>
                </div>

            </a>

            <a class="item-card" href="">
                <img src="./img/pic/point-food.png" alt="food" class="item-card__img">
                <div class="item-card__desc">
                    <div class="item-card__desc-row1">
                        <h3 class="item-card__title">Точка еды</h3>
                        <span class="item-card__time">50 мин</span>
                    </div>
                    <div class="item-card__desc-row2">
                        <span class="item-card__star-rating"><img src="./img/icon/star.svg"
                                class="item-card__star-icon">4.5</span>
                        <span class="item-card__priece">От 900 ₽</span>
                        <span class="item-card__product">Пицца</span>
                    </div>
                </div>

            </a>

            <a class="item-card" href="">
                <img src="./img/pic/pizza-burger.png" alt="food" class="item-card__img">
                <div class="item-card__desc">
                    <div class="item-card__desc-row1">
                        <h3 class="item-card__title">PizzaBurger</h3>
                        <span class="item-card__time">50 мин</span>
                    </div>
                    <div class="item-card__desc-row2">
                        <span class="item-card__star-rating"><img src="./img/icon/star.svg"
                                class="item-card__star-icon"></span>
                        <span class="item-card__priece">От 900 ₽</span>
                        <span class="item-card__product">Пицца</span>
                    </div>
                </div>

            </a>
        </div>
    </section>

</main>