<div class="orverlay-cart js-overlay-cart">
    <div class="modal-cart js-modal-cart">
        <span class="modal__close js-close-cart"></span>
        <div class="modal-cart__top">
            <h2 class="modal-cart__title title">
                Корзина
            </h2>
        </div>
        <div class="modal-cart__body">
            <div class="modal-cart__order">
                <span class="modal-cart__order-name">Ролл угорь стандарт</span>
                <div class="modal-cart__order-right">
                    <span class="modal-cart__order-priece">250 ₽</span>
                    <button class="modal-cart__order-button">-</button>
                    <span class="modal-cart__order-number">1</span>
                    <button class="modal-cart__order-button">+</button>
                </div>
            </div>

            <div class="modal-cart__order">
                <span class="modal-cart__order-name">Ролл угорь стандарт</span>
                <div class="modal-cart__order-right">
                    <span class="modal-cart__order-priece">250 ₽</span>
                    <button class="modal-cart__order-button">-</button>
                    <span class="modal-cart__order-number">1</span>
                    <button class="modal-cart__order-button">+</button>
                </div>
            </div>

            <div class="modal-cart__order">
                <span class="modal-cart__order-name">Ролл угорь стандарт</span>

                <div class="modal-cart__order-right">
                    <span class="modal-cart__order-priece">250 ₽</span>
                    <button class="modal-cart__order-button">-</button>
                    <span class="modal-cart__order-number">1</span>
                    <button class="modal-cart__order-button">+</button>
                </div>
            </div>

            <div class="modal-cart__order">
                <span class="modal-cart__order-name">Ролл угорь стандарт</span>

                <div class="modal-cart__order-right">
                    <span class="modal-cart__order-priece">250 ₽</span>
                    <button class="modal-cart__order-button">-</button>
                    <span class="modal-cart__order-number">1</span>
                    <button class="modal-cart__order-button">+</button>
                </div>
            </div>

            <div class="modal-cart__order">
                <span class="modal-cart__order-name">Ролл угорь стандарт</span>

                <div class="modal-cart__order-right">
                    <span class="modal-cart__order-priece">250 ₽</span>
                    <button class="modal-cart__order-button">-</button>
                    <span class="modal-cart__order-number">1</span>
                    <button class="modal-cart__order-button">+</button>
                </div>
            </div>
        </div>

        <div class="modal-cart__footer">
            <div class="modal-cart__sum">1250 ₽</div>
            <div class="modal-cart__footer-buttons">
                <button class="checkout button">Оформить заказ</button>
                <button class="cancel button modal-cart__button">Отмена</button>
            </div>
        </div>

    </div>
</div>