<section class="restaurant">
    <div class="restaurant-top">
        <h2 class="restaurant-top__text title">Тануки</h2>
        <div class="item-card__desc-row2">
            <span class="item-card__star-rating"><img src="./img/icon/star.svg" class="item-card__star-icon">4.5</span>
            <span class="item-card__priece">От 900 ₽</span>
            <span class="item-card__product">Пицца и суши</span>
        </div>
    </div>
</section>
<section class="restaurant-cards">
    <div class="restaurant-item">
        <img src="./img/pic/card-1.png" alt="rolls" class="restaurant-item__img">
        <div class="restaurants-item__text">
            <div class="restaurants-item__text-row1">
                <h3 class="restaurants-item__title">Ролл угорь стандарт</h3>
                <p class="restaurants-item__desc">Рис, угорь, соус унаги, кунжут, водоросли нори.</p>
            </div>
            <div class="restaurants-item__text-row2">
                <button class="restaurants-item__button button">В корзину</button>
                <span class="restaurants-item__priece">250 ₽</span>
            </div>
        </div>
    </div>
</section>