<section class="restaurant">
    <div class="restaurant-top">
        <h2 class="restaurant-top__text title">Тануки</h2>
        <div class="item-card__desc-row2">
            <span class="item-card__star-rating"><img src="./img/icon/star.svg" class="item-card__star-icon">4.5</span>
            <span class="item-card__priece">От 900 ₽</span>
            <span class="item-card__product">Пицца и суши</span>
        </div>
    </div>
</section>
<section class="restaurant-cards">
    <div class="restaurant-item">
        <img src="./img/pic/card-1.png" alt="rolls" class="restaurant-item__img">
        <div class="restaurant-item__text">
            <div class="restaurant-item__text-row1">
                <h3 class="restaurant-item__title">Ролл угорь стандарт</h3>
                <p class="restaurant-item__desc">Рис, угорь, соус унаги, кунжут, водоросли нори.</p>
            </div>
            <div class="restaurant-item__text-row2">
                <button class="restaurant-item__button button">В корзину</button>
                <span class="restaurant-item__priece">250 ₽</span>
            </div>
        </div>
    </div>

    <div class="restaurant-item">
        <img src="./img/pic/card-2.png" alt="rolls" class="restaurant-item__img">
        <div class="restaurant-item__text">
            <div class="restaurant-item__text-row1">
                <h3 class="restaurant-item__title">Калифорния лосось стандарт</h3>
                <p class="restaurant-item__desc">Рис, лосось, авокадо, огурец, майонез, икра масаго, водоросли нори.</p>
            </div>
            <div class="restaurant-item__text-row2">
                <button class="restaurant-item__button button">В корзину</button>
                <span class="restaurant-item__priece">395 ₽</span>
            </div>
        </div>
    </div>

    <div class="restaurant-item">
        <img src="./img/pic/card-3.png" alt="rolls" class="restaurant-item__img">
        <div class="restaurant-item__text">
            <div class="restaurant-item__text-row1">
                <h3 class="restaurant-item__title">Окинава стандарт</h3>
                <p class="restaurant-item__desc"> Рис, креветка отварная, сыр сливочный, лосось, огурец свежий...</p>
            </div>
            <div class="restaurant-item__text-row2">
                <button class="restaurant-item__button button">В корзину</button>
                <span class="restaurant-item__priece">250 ₽</span>
            </div>
        </div>
    </div>

    <div class="restaurant-item">
        <img src="./img/pic/card-4.png" alt="rolls" class="restaurant-item__img">
        <div class="restaurant-item__text">
            <div class="restaurant-item__text-row1">
                <h3 class="restaurant-item__title">Цезарь маки хl</h3>
                <p class="restaurant-item__desc">Рис, куриная грудка копченая, икра масаго, томат, айсберг, соус
                    цезарь...</p>
            </div>
            <div class="restaurant-item__text-row2">
                <button class="restaurant-item__button button">В корзину</button>
                <span class="restaurant-item__priece">250 ₽</span>
            </div>
        </div>
    </div>

    <div class="restaurant-item">
        <img src="./img/pic/card-5.png" alt="rolls" class="restaurant-item__img">
        <div class="restaurant-item__text">
            <div class="restaurant-item__text-row1">
                <h3 class="restaurant-item__title">Ясай маки стандарт 185 г</h3>
                <p class="restaurant-item__desc">Рис, помидор свежий, перец болгарский, авокадо, огурец, айсберг</p>
            </div>
            <div class="restaurant-item__text-row2">
                <button class="restaurant-item__button button">В корзину</button>
                <span class="restaurant-item__priece">250 ₽</span>
            </div>
        </div>
    </div>

    <div class="restaurant-item">
        <img src="./img/pic/card-6.png" alt="rolls" class="restaurant-item__img">
        <div class="restaurant-item__text">
            <div class="restaurant-item__text-row1">
                <h3 class="restaurant-item__title">Ролл с креветкой стандарт</h3>
                <p class="restaurant-item__desc">Рис, водоросли нори, креветки отварные, сыр сливочный, огурцы</p>
            </div>
            <div class="restaurant-item__text-row2">
                <button class="restaurant-item__button button">В корзину</button>
                <span class="restaurant-item__priece">250 ₽</span>
            </div>
        </div>
    </div>

</section>