.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__search {
        width: 60%;
        background: url(../img/icon/header-home.svg) no-repeat 5px;
    }

    &__button-in {
        @extend %button-primary;
        margin-right: 5px;

        &:before {
            content: url(..//img/icon/button-in.svg);
        }
    }

    &__button-cart {
        @extend %button-primary;
        color: #595959;
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-radius: 2px;

        &:before {
            content: url(..//img/icon/button-cart.svg);
        }
    }
}

