@media (max-width: 1199.98px) {
    .cards-wrapper {
        justify-content: center;
    }

    .item-card {
        margin-right: 20px;
    }

    .restaurant-cards {
        justify-content: center;
    }

    .restaurant-item {
        flex-basis: 50%;
        margin-right: 24px;
        max-width: 384px;
    }

    .modal-cart {
        max-width: 500px;
    }
}

@media (max-width: 767.98px) {
    .main {
        margin-bottom: 0px;
    }

    .header__button-in,
    .header__button-cart {
        padding: 8px;
    }

    .header__button-in:before,
    .header__button-cart:before {
        display: none;
    }

    .item-card {
        margin-right: 0px;
    }

    .restaurants__top {
        flex-direction: column;
        align-items: center;
    }

    .restaurants__search {
        width: auto;
    }

    .restaurant-item {
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }

    .restaurant-cards {
        margin-bottom: 0px;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 575.98px) {
    .header__inner {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .header__search {
        margin-bottom: 10px;
    }

    .header__logo {
        margin-bottom: 10px;
    }

    .promo {
        margin-bottom: 20px;
    }

    .promo__text {
        padding: 30px 0 30px 0px;
        text-align: center;

    }

    .promo__title {
        font-size: 26px;

    }

    .promo__desc {
        padding: 20px;
        font-size: 18px;
    }

    .item-card {
        max-width: 280px;
    }

    .item-card__img {
        max-width: 280px;
    }

    .restaurant-item {
        max-width: 300px;
    }

    .footer-inner {
        flex-direction: column;
        align-items: center;
    }

    .modal-cart {
        max-width: 420px;
        padding: 20px;
    }

    .modal__close {
        position: absolute;
        top: 10px;
        right: 14px
    }

    .modal-cart__top {
        margin-bottom: 5px;
    }
}

@media(max-width: 440px) {
    .footer {
        padding: 30px 0;
    }

    .footer__logo {
        margin-bottom: 10px;
    }

    .footer__list {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .modal-cart__body {
        margin-bottom: 10px;
    }

    .modal-cart__order {
        flex-direction: column;
    }

    .modal-cart__order-priece {
        margin-right: 20px;
    }

    .modal-cart__footer {
        flex-direction: column;
    }

    .modal-cart__footer-buttons {
        display: flex;
    }

    .modal-cart__sum {
        margin-bottom: 10px;
    }

    .checkout {
        max-width: 98px;
        padding: 8px 0px 8px 0px;
        margin-right: 10px  ;
    }

    .cancel {
        height: 64px;
    }
}