.restaurant {
    padding-top: 40px;
}

.restaurant-top {
    display: flex;
    align-items: center;
    margin-bottom: 44px;

    &__text {
        margin-right: 30px;
    }
}

.restaurant-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}



.restaurant-item {
    flex-basis: 32%;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;

    &__img {
        width: 100%;
        object-fit: none;
    }

    &__text {
        padding: 24px 23px 30px 24px
    }

    &__text-row1 {
        margin-bottom: 24px;
    }

    &__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    &__desc {
        font-size: 18px;
        line-height: 21px;
        color: #8C8C8C;
    }


    &__text-row2 {
        display: flex;
        align-items: center;

    }

    &__button {
        @extend %button-primary;
        margin-right: 59px;
        display: flex;
        align-items: center;
        line-height: 0;

        &:after {
            content: url(..//img/icon/add-cart.svg);
            position: relative;
            top: 1px;
            left: 5px;
        }
    }

    &__priece {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
    }
}