@import 'vars';
@import 'fonts';
@import 'global';
@import 'header';
@import 'main';
@import 'restaurant-menu';


//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

.wrapper-gradient {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 10px 10px
}

.input {
    padding: 8px 8px 8px 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF;
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;

}

.button {
    &:hover {
        text-decoration: underline;
    }
}










//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------
@import 'footer';
@import 'media';